/**/
/**/
/**/
/**/
/*Header*/
@import '../base/mapas';

.body-curso {
    background-color: blanchedalmond;
}



header {
    nav ul h1 {
        background-color: antiquewhite;
        color: red;
        border-radius: 40px;
        text-align: center;
        position: relative;
        right: 15px;

        @media only screen and (max-width: 768px) {
            position: relative;
            right: 15px;
            font-size: 25px;
            border-radius: 50px;
        }
    }

    .inicio {
        text-decoration: none;
    }


    .prg {
        color: red;
    }

    .prg:hover {
        color: burlywood;
        box-shadow: 3px 3px 30px rgba(0, 0, 0, .15)
    }

    .titulo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        text-align: center;
        animation: teclear 3s steps(500);


        @media only screen and (max-width: 768px) {
            font-size: 30px;
        }
    }

    .historia {
        text-align: map-get($bg-user , font-text);
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation: teclear 3s steps(500);


        @media only screen and (max-width: 768px) {
            font-size: 15px;
        }
    }

    @keyframes teclear {
        from {
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        }
        to{
            clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
        }


    }

}

/**/
/**/
/**/
/**/